<h2>User List</h2>
<div id="userDIV">
<table id="userTable">

    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th><a href="" ng-click="sortField='name'; reverse = !reverse">username</a></th>
        <th><a href="" ng-click="sortField='email'; reverse = !reverse">email</a></th>
        <th><a href="" ng-click="sortField='password'; reverse = !reverse">password</a></th>
        <th><a href="" ng-click="sortField='nick'; reverse = !reverse">nickname</a></th>
        <th><a href="" ng-click="sortField='role'; reverse = !reverse">rolename</a></th>
    </tr>
    <tr ng-repeat="user in users| filter:query | orderBy:sortField:reverse">
        <td>
            <a href="#show#{{user.id}}"><img src="icons/view.png"></a>
        </td>
        <td>
            <a href="#update/{{user.id}}"><img src="icons/update.png"></a>
        </td>
        <td>
            <a href="#delete/{{user.id}}"><img src="icons/delete.png"></a>
        </td>
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.nickname}}</td>
        <td>{{user.rolename}}</td>
    </tr>
</table>
</div>